---
/**
 * Sidenote Component
 * Tufte-style sidenotes that appear in the margin on desktop
 * and collapse into expandable sections on mobile
 *
 * Usage:
 * <Sidenote>This is a numbered sidenote</Sidenote>
 * <Sidenote marginnote>This is an unnumbered margin note</Sidenote>
 */

interface Props {
  marginnote?: boolean;
  id?: string;
}

const { marginnote = false, id } = Astro.props;
const uniqueId = id || `note-${Math.random().toString(36).substr(2, 9)}`;
---

{marginnote ? (
  <>
    <label for={uniqueId} class="margin-toggle">&#8853;</label>
    <input type="checkbox" id={uniqueId} class="margin-toggle" />
    <span class="marginnote">
      <slot />
    </span>
  </>
) : (
  <>
    <label for={uniqueId} class="margin-toggle sidenote-number"></label>
    <input type="checkbox" id={uniqueId} class="margin-toggle" />
    <span class="sidenote">
      <slot />
    </span>
  </>
)}
